@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.app-main-content {
  padding-top: $spacing-07;
  padding-right: $spacing-07;
  padding-left: $spacing-07;
  min-height: 100vh;
  overflow-y: auto;
}

.fullScreen {
  position: fixed;
  padding-top: 4rem;
  padding-right: 30rem;
  padding-left: 5rem;
  padding-bottom: 10rem;
  height: 100vh;
  width: calc(100vw - 320px - 2rem);
  /* z-index: 9999; */
}



